<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:requestRawExternalStorageAccess="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/Theme.EasyFileRecovery"
        android:usesCleartextTraffic="true"
        tools:ignore="DiscouragedApi"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">
        <activity
            android:name=".ui.guide.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.EasyFileRecovery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.pdf.easyreader.er_uninstall" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.common.MainActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.base.AutoCloseActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="density|keyboardHidden|screenSize"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.common.CommonScanActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.recover.FileRecoveryListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity
            android:name=".ui.recover.FileDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.player.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />


        <service
            android:name=".ui.player.VideoPlayerService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            android:permission="android.permission.BIND_MEDIA_SESSION">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>


    </application>

</manifest>